<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">

        {{> header}}
        {{> notifications}}
        <main>
            {{{body}}}
        </main>
        {{> footer}}

    </div>
</body>

</html>