<form action="/login" method="POST">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input name="username" type="text" placeholder="Username" value="{{username}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="Password" value="{{password}}">
    </div>

    <button class="btn" type="submit">Login</button>
</form>