<form action="/register" method="POST">
    <h2>Register</h2>
    <div class="on-dark">
        <label for="username">Username:</label>
        <input name="username" type="text" placeholder="Steven" value="{{username}}">
    </div>

    <div class="on-dark">
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="********" value="{{password}}">
    </div>

    <div class="on-dark">
        <label for="repeatPassword">Repeat Password:</label>
        <input name="rePassword" type="password" placeholder="********" value="{{rePassword}}">
    </div>

    <button class="btn" type="submit">Register</button>
</form>